*.gcno
*.gcda
*.gcov
*.gch
*.la
*.lo
*.ncb
*.o
*.opensdf
*.sdf
*.suo
*.user
*.swp
.deps
.dirstamp
.libs
a.out.dSYM
aclocal.m4
autom4te.cache
compile
config.guess*
autoconfig.h
autoconfig.h.in
autoconfig.h.in~
config.gypi
config.mk
config.h.in
config.h.in~
config.log
config.status
config.sub*
depcomp
html
install-sh
iphone
lcov*
libtool
ltmain.sh
missing
mordor.xcodeproj/*.mode1v3
mordor.xcodeproj/*.pbxuser
mordor.xcodeproj/*.perspectivev3
stamp-h1
Win32
x64
*.pc
xcuserdata
tags
test-results/
*~

**/out
gyp/*.mk
gyp/*.Makefile
gyp/mordor.xcodeproj

.project
.cproject
.settings
/out/
